body{
    background-color: #457f8c;
    
}
h1 {
    color: rgb(156, 65, 174);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

h2 {
    color: rgb(65, 174, 89);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}